<h1>Listing inventories</h1>

<table class="table">
  <tr>
    <th>Equipment name</th>
    <th>Equipment type</th>
    <th>Num of items</th>
    <th>Num in stock</th>
    <th>Rental price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% if params[:customer_id] %>
      <% @inventories.each do |inventory| %>
          <tr>
            <td><%= inventory.equipment_type %></td>
            <td><%= inventory.equipment_name %></td>
            <td><%= inventory.num_of_items %></td>
            <td><%= inventory.num_in_stock %></td>
            <td><%= number_to_currency(inventory.rental_price) %></td>
            <td><%= link_to 'Show', inventory %></td>
            <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
            <td><%= link_to 'Destroy', inventory, method: :delete, data: {confirm: 'Are you sure?'} %></td>
            <td><%= link_to 'Complete Rental', :controller => "rentals", :customer_id => params[:customer_id], :action => "new", :inventory_id => inventory.id %></td>
          </tr>
      <% end %>

  <% else %>

      <% @inventories.each do |inventory| %>
          <tr>
            <td><%= inventory.equipment_type %></td>
            <td><%= inventory.equipment_name %></td>
            <td><%= inventory.num_of_items %></td>
            <td><%= inventory.num_in_stock %></td>
            <td><%= number_to_currency(inventory.rental_price) %></td>
            <td><%= link_to 'Show', inventory %></td>
            <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
            <td><%= link_to 'Destroy', inventory, method: :delete, data: {confirm: 'Are you sure?'} %></td>
            <td><%= link_to 'New Rental', :controller => "customers", :inventory_id => inventory.id %></td>
          </tr>
      <% end %>
  <% end %>

</table>

<br/>

<%= link_to 'New Inventory', new_inventory_path %><br>
<%= link_to 'Home', root_url %>
