<%= form_for(@rental) do |f| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% @rental.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--literally impossible to edit by hand anyways, and not a functional requirement
  <div class="field">
    <%= f.label :customer %><br />
    <%= f.text_field :customer %>
  </div>
  <div class="field">
    <%= f.label :inventory %><br />
    <%= f.text_field :inventory %>
  </div>
	-->
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :return_date %><br />
    <%= f.date_select :return_date %>
  </div>
  <div class="field">
    <%= f.label :event_name %><br />
    <%= f.text_field :event_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
