<h1>New rental</h1>

<%= form_for(@rental) do |f| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% @rental.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%=hidden_field_tag(:customer_id,params[:customer_id])%>
	<%=hidden_field_tag(:inventory_id,params[:inventory_id])%>
	
  <div class="field">
    <%= f.label :quantity %><br />
    $<%= Inventory.find(params[:inventory_id]).rental_price %> x <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :event_name %><br />
    <%= f.text_field :event_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', rentals_path %>
