<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= link_to @rental.customer.L_name+", "+@rental.customer.F_name, @rental.customer %>
</p>

<p>
  <b>Inventory:</b>
  <%= link_to @rental.inventory.equipment_name, @rental.inventory %>
</p>

<p>
  <b>Quantity:</b>
  <%= @rental.quantity %>
</p>

<p>
  <b>Return date:</b>
  <%= @rental.return_date %>
</p>

<p>
  <b>Event name:</b>
  <%= @rental.event_name %>
</p>

<p>
  <b>Cost:</b>
  $<%= @rental.inventory.rental_price * @rental.quantity %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
